<!--SKRIV KOMMENTAR FØR ALLE COMMANDS-->

<!--HER ER TEMPLATE FOR LAUNCHFILER-->
<!-- <include file="$(find package_name)/turtlebot_bringup/minimal.launch"/> -->

<!--HER ER TEMPLATE FOR NODE-->
<!-- node pkg="final_pkg" type="navn_på_node" name="fiktivt_navn_på_node" -->

<launch>


<!-- / LAUNCHFILER / LAUNCHFILER / LAUNCHFILER / LAUNCHFILER / LAUNCHFILER / LAUNCHFILER / -->

<!--KONTAKT MED TURTLEBOTTEN-->
<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>


<!--SKAL BRUGES FOR AT STARTE AUTODOCKING (BRUG KUN ACTIVE.LAUNCH I KODE)-->
<include file="$(find kobuki_auto_docking)/launch/minimal.launch"/>


<!-- / NODES / NODES / NODES / NODES / NODES / NODES / NODES / NODES / NODES / NODES / NODES / -->

<!--OVERVÅGNING AF BATTERI-->
<node pkg="final_pkg" type="battery" name="battery_control"/>


</launch>